*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color: #000;
    background-color: #a8f2ff;
}

.conteiner{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: #fff;
    box-shadow: 1px 1px 10px #000;
    margin: 100px 50px;
    padding: 20px;
}

#titulo{
    font-size: 1.5rem;
    font-weight: 600;
}

.text{
    font-size: 0.8rem;
    color: #4d4949;
    font-weight: 400;
    padding: 10px;
}